.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.modal-content {
    background: #D17B96;
    padding: 20px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #f1f1f1;
}

.modal-actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 12px;
    margin-bottom: 0;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    background-color: #A33C5D;
    color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.modal-content button:hover {
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
