.modification-panel {
    position: absolute;
    background-color: #EDC7B7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.add-request {
    top: 20px;
    right: 20px;
}

.update-order {
    top: 20px;
    right: 20px;
}

.courier-selection {
    bottom: 5px;
    right: 20px;
}

.courier-selection > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.courier-selection label {
    display: flex;
    align-items: center;
}

.courier-selection p {
    width: 175px;
}

.courier-selection input[type="radio"] {
    width: fit-content;
}

.modification-panel h3 {
    margin-top: 0;
    font-size: 20px;
    color: #A33C5D;
}

.modification-panel .info-label {
    font-weight: 600;
    color: #555;
}

.modification-panel .info-value {
    color: #777;
    margin-left: 8px;
}

.modification-panel .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.modification-panel button {
    padding: 10px 15px;
}

.modification-panel .add-button {
    background-color: #D17B96;
    color: #EADDFF;
}

.home-container .add-button:hover {
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modification-panel .add-button:disabled {
    background-color: rgba(209, 123, 150, 0.7);
    cursor: not-allowed;
}

.modification-panel .cancel-button {
    background-color: #f1f1f1;
    color: #333333;
}

.modification-panel .select-button {
    margin-left: 10px;
    background-color: #6c757d;
    color: white;
}

.modification-panel .select-button.active {
    background-color: #28a745;
}

.modification-panel .panel-input {
    width: 3rem;
}

.modification-panel select {
    color: #333333;
}

.radio-input {
    margin-bottom: 0;
}

.radio-input input[type="radio"] {
    width: auto;
}

.radio-input label {
    display: flex;
    gap: 8px;
    color: #333333;
}