.search-input {
    padding: 8px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: thin solid #A33C5D;
    color: #333333;
    box-sizing: border-box;
}

.search-results {
    position: relative;
    background-color: #D17B96;
    color: #EADDFF;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    left: 10px;
    width: 300px;
}

.search-results div {
    padding: 10px;
    cursor: pointer;
}

.search-results div:hover {
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
