.search-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 1001;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: thin solid #A33C5D;
    color: #333333;
}

.search-results {
    background-color: #EDC7B7;
    color: #EADDFF;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
}

.search-results div {
    padding: 10px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #f0f0f0;
}
