@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

    margin: 0;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    background-color: #F1DED7;
}

h1 {
    margin: 15px 0 10px 0;
    font-size: 24px;
    font-weight: 600;
    color: #123D6A;
}

div {
    margin-bottom: 15px;
}

button {
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 3px 3px 3px 10px;
}

select {
    border: thin solid #A33C5D;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333333;
    padding-left: 5px;
    margin-left: 10px;
}