.home .home-button {
    background-color: #b1b1b1;
    color: #333333;
    padding: 5px;
}

.home input {
    width: 300px;
    border: thin solid #333333;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #333333;
    padding-left: 5px;
    margin-left: 10px;
}

.home label {
    margin-right: 8px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.map-popup-content {
    color: black;
}

.home-container {
    display: flex;
    height: 100vh;
}

.side-panel-and-toggle {
    position: absolute;
    display: flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.side-panel {
    position: absolute;
    width: 380px;
    height: 100%;
    background-color: #000000;
    padding: 16px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    z-index: 1000;
}

.side-panel.closed {
    transform: translateX(-100%);
    width: 0;
    padding: 0;
    overflow: hidden;
}

.side-panel.open {
    transform: translateX(0);
}

.side-panel-toggle {
    position: relative;
    top: 50%;
    right: -18px;

    width: 18px;
    height: 60px;

    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    z-index: 1100;
}

.map-container {
    flex: 1;
}