.success-message {
    color: green;
    margin-top: 10px;
  }

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.map-popup-content {
    color: black;
}
