.home-container .home-button {
    background-color: #D17B96;
    color: #EADDFF;
    padding: 5px;
}

.home-container .home-button:hover {
    font-weight: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-container input {
    width: 300px;
    border: thin solid #A33C5D;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #333333;
    padding-left: 5px;
    margin-left: 10px;
}

.home-container label {
    margin-right: 8px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.map-popup-content {
    color: #D17B96;
}

.home-container {
    display: flex;
    height: 100vh;
}

.side-panel-and-toggle {
    position: absolute;
    display: flex;
    height: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.side-panel-and-toggle.closed {
    transform: translateX(-34%);
}

.side-panel-and-toggle.open {
    transform: translateX(0);
}

.side-panel {
    width: 35%;
    height: 100%;
    background-color: #EDC7B7;
    padding: 16px;
    display: flex;
}

.side-panel-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 60px;
    margin-top: calc(50vh - 30px);
    background-color: #EDC7B7;
    cursor: pointer;
}

.map-container {
    flex: 1;
}